<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add your custom NuGet package source -->
    <add key="MyCustomNuGetSource" value="https://api.nuget.org/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
