<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Disable package caching -->
    <add key="globalPackagesFolder" value=".\packages-cache" />
  </config>
  <packageSources>
    <!-- NuGet official package source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Add any other custom package sources here -->
  </packageSources>
  <config>
    <!-- Set proxy settings if needed (replace placeholders with actual values) -->
    <add key="http_proxy" value=" http://172.30.35.205:9000" />
  </config>
</configuration>
